.logo {
  font-family: $fontFamilySecondary;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $actionColor;

  &--dark {
    color: #000;
    margin-right: 93px;
  }
  &--light {
    color: #fff;
  }
}
