.menu-toggle-open {
  height: 16px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    fill: $actionColor;
  }

  @include tablet {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  &.is-open {
    transform: translateX(0);
  }
  .menu-toggle {
    position: absolute;
    top: 21px;
    right: 25.33px;
    border: none;
    outline: none;
    background-color: transparent;
    &:hover,
    &:focus {
      fill: $actionColor;
    }
  }
  .mobile-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__navigation-list-item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    &__navigation-item {
      font-size: 40px;
      font-weight: 500;
      line-height: 1.175;
      letter-spacing: 0.02em;
      color: $fontColor;

      &:hover,
      &:focus {
        color: $actionColor;
      }
    }

    &__contact-list {
      margin-bottom: 64px;
    }

    &__contact-list-item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    &__contact-tel {
      font-size: 34px;
      font-weight: 500;
      line-height: 1.176;
      letter-spacing: 0.02em;
      color: $actionColor;
      margin-bottom: 32px;
    }

    &__contact-mail {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.166;
      letter-spacing: 0.02em;
      color: $descriptionColor;
    }
    &__socialmedia-list {
      display: flex;
      column-gap: 10px;
    }
    &__socialmedia-item {
      display: block;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: $actionColor;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }
}
