header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navigation {
  display: flex;
  align-items: center;

  &__list {
    display: none;
    @include tablet {
      display: flex;
      column-gap: 46px;
    }

    &__item {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $fontColor;

      &:hover,
      &:focus {
        color: $actionColor;
      }

      &--is-active {
        color: $actionColor;
        position: relative;

        &::after {
          position: absolute;
          top: 44.41px;
          left: 0;
          content: "";
          height: 4px;
          width: 100%;
          border-radius: 2px;
          background: $actionColor;
        }
      }
    }
  }
}

.header-contact {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 10px;
  }

  @include desktop {
    flex-direction: row;
    column-gap: 50px;
  }

  &__icon {
    fill: $descriptionColor;
  }

  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $descriptionColor;
    display: flex;
    align-items: center;
    column-gap: 10px;

    &:hover,
    &:focus {
      color: $actionColor;

      .header-contact__icon {
        fill: $actionColor;
      }
    }
  }
}

.navigation__mobile {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;

  @include tablet {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @include tablet {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
