.service-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
    max-width: 370px;

    @include desktop {
      line-height: 1.17;
      max-width: 448px;
    }
  }

  &__label {
    font-size: 12px;
    line-height: 1.17;
    color: $descriptionColor;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    display: block;
    text-align: left;
    width: 100%;
    @include desktop {
      width: 448px;
    }
  }

  &__input-wrapper {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
  }

  &__input-box {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    @include desktop {
      width: 448px;
    }
    &:focus,
    &:hover {
      border-color: $actionColor;

      & + .service-form__icon {
        fill: $actionColor;
      }
    }

    &:not(:placeholder-shown) {
      border-color: $actionColor;

      & + .service-form__icon {
        fill: $actionColor;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
  }

  &__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    outline: none;

    @include desktop {
      width: 448px;
    }

    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }

    &:focus,
    &:hover,
    &:not(:placeholder-shown) {
      border-color: $actionColor;
    }
  }
  &__checkbox-label {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $descriptionColor;
    margin-bottom: 30px;
    @include desktop {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__checkbox-box {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: relative;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    width: 16px;
    height: 15px;
    margin-right: 8px;
  }
  &__accept-icon {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__checbox-string {
    color: $actionColor;
    text-decoration: underline;
  }

  &__button {
    @extend %main-button;
    padding-left: 76px;
    padding-right: 76px;
  }
}

.service-form__checkbox-label
  .service-form__checkbox-box:checked
  ~ .service-form__checkmark {
  background-color: $actionColor;
  border: $actionColor;

  & > .service-form__accept-icon {
    opacity: 1;
    fill: #fff;
  }
}
