$actionColor: #2196f3;
$mainBackgroundColor: #e5e5e5;
$footerBackgroundColor: #2f303a;
$fontColor: #212121;
$descriptionColor: #757575;
$footerContactColor: rgba(255, 255, 255, 0.6);
$buttonBackgroundColor: #f5f4fa;
$footerItemColor: rgba(255, 255, 255, 0.6);

$fontFamily: "Roboto", sans-serif;
$fontFamilySecondary: "Raleway", sans-serif;
